<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/icons8-fox-16.png">
        <meta name="author" content="John Doe">
        <meta
            name="description"
            content="The Zoopedia is
            a place where you can find all information
            about animals you like">
        <title>Zoopedia</title>
    </head>
    <body>
        <header>
            <h1>Zoopedia</h1>
            <p>Your best friend in the animal world!</p>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="short-descriptions.html">Short animal descriptions</a></li>
                    <li>Animal glossary</li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>A list of full animal descriptions</h2>
                <ul>
                    <li><a href="lion-descr.html">Lion</a></li>
                    <li><a href="snake-descr.html">Snake</a></li>
                    <li><a href="elephant-descr.html">Elephant</a></li>
                </ul>
            </section>
            <aside>
                <nav>
                    <section>
                        <h2>Search an animal</h2>
                        <form method="get">
                            <fieldset>
                                <legend>What animal <strong>you</strong> want to search for?</legend>
                                <label for="animal-search">Animal name:</label>
                                <input id="animal-search" type="search" name="animal-search" placeholder="I.e. Lion"> <button type="submit">Search!</button>
                            </fieldset>
                        </form>
                    </section>
                </nav>
            </aside>
        </main>
        <footer>
            <p>The maintainer of the website is John Doe</p>
            <p>This website is powered by HTML</p>
            <article>
                <h2>Check out our social media</h2>
                <p>Leave us a like or comment, or <strong>both</strong>!</p>
                <a href="#"><img src="../images/icons8-instagram-50.png" alt="Instagram icon"></a>
            </article>
        </footer>
    </body>
</html>
