<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/icons8-fox-16.png">
        <meta name="author" content="John Doe">
        <meta
            name="description"
            content="The Zoopedia is
            a place where you can find all information
            about animals you like">
        <title>Zoopedia</title>
    </head>
    <body>
        <header>
            <h1>Zoopedia</h1>
            <p>Your best friend in the animal world!</p>
            <nav>
                <ul>
                    <li>Home</li>
                    <li><a href="short-descriptions.html">Short animal descriptions</a></li>
                    <li><a href="glossary.html">Animal glossary</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>Welcome to Zoopedia</h2>
                <p>
                    Zoopedia> is the <strong>best</strong> resource about animals out there.
                    Here you can find information of an animal that you want to know about.
                    This website exists since <time datetime="2022-09-21">21<sup>th</sup> September of 2022</time> and contains the most accurate information.
                    In order to provide free to use services we need to pay for the domain, so
                    consider a possibility of a little <a href="#">donation</a>.
                </p>
            </section>
            <aside>
                <section>
                    <h2>Todays animal news</h2>
                    <ul>
                        <li><a href="#">random news1</a></li>
                        <li><a href="#">random news2</a></li>
                        <li><a href="#">random news3</a></li>
                    </ul>
                </section>
            </aside>
        </main>
        <footer>
            <p>The maintainer of the website is John Doe</p>
        </footer>
    </body>
</html>
