<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/icons8-fox-16.png">
        <meta name="author" content="John Doe">
        <meta
            name="description"
            content="The Zoopedia is
            a place where you can find all information
            about animals you like">
        <title>Zoopedia</title>
    </head>
    <body>
        <header>
            <h1>Zoopedia</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Short animal descriptions</li>
                    <li><a href="glossary.html">Animal glossary</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>Short animal descriptions</h2>
                <dl>
                    <dt id="monkey"><b>Monkey</b></dt>
                    <dd>This is a monkey</dd>
                    <dt id="horse"><b>Horse</b></dt>
                    <dd>This is a horse</dd>
                    <dt id="elephant"><b>Elephant</b></dt>
                    <dd>This is an elephant</dd>
                </dl>
            </section>
            <aside>
                <section>
                    <h2>Jump to your favourite animal</h2>
                    <ul>
                        <li><a href="#monkey">Monkey</a></li>
                        <li><a href="#horse">Horse</a></li>
                        <li><a href="#elephant">Elephant</a></li>
                    </ul>
                </section>
            </aside>
        </main>
        <footer>
            <p>The maintainer of the website is John Doe</p>
        </footer>
    </body>
</html>
