<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/fox-icon-16x16.png">
        <meta name="author" content="John Doe">
        <meta
            name="description"
            content="The Zoopedia is
            a place where you can find all information
            about animals you like">
        <title>Zoopedia</title>
    </head>
    <body>
        <header>
            <h1>Zoopedia</h1>
            <p>Your best friend in the animal world!</p>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="short-descriptions.html">Short animal descriptions</a></li>
                    <li><a href="glossary.html">Animal glossary</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>Snake</h2>
                <figure>
                    <img src="../images/snake.jpg" alt="a green snake" width="400" height="300">
                    <figcaption>Snakes are <strong>super</strong> long.</figcaption>
                </figure>
                <p>Snake description</p>
                <section>
                    <h3>Snakes in real Nature</h3>
                    <p>This video from the <abbr title="National Geographic">NG</abbr> channel shows monkeys in their natural habitat.</p>
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/_qgA63Ixc_Y?si=FRGo0lg0Gk93gsPH" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </section>
                <section>
                    <h3>How they sound</h3>
                    <figure style="margin-left: 0;">
                        <figcaption style="margin: 0px 0px 10px;">Listen to how a real snake sounds like:</figcaption>
                        <audio controls>
                            <source src="../media/audios/snake-hissing-6092.mp3" type="audio/mp3">
                            <p>
                                Your browser doesn't support this audio element. Download the
                                <a
                                    href="../media/audios/snake-hissing-6092.mp3"
                                    download="snake-hissing-sound.mp3">
                                    audio file</a> directly instead (mp3, 80kb).
                            </p>
                        </audio>
                    </figure>
                </section>
            </section>
            <section>
                <p>
                    Check out the <a href="../templates/elephant-descr.html">elephant's description</a> as well!
                </p>
            </section>
            <aside>
                <p>Snakes can wear hats!</p>
            </aside>
        </main>
        <footer>
            <p>The maintainer of the website is John Doe</p>
            <p>This website is powered by HTML</p>
            <article>
                <h2>Check out our social media</h2>
                <p>Leave us a like or comment, or <strong>both</strong>!</p>
                <a href="#"><img src="../images/instagram-icon-50x50.png" alt="Instagram icon" width="50" height="50"></a>
            </article>
        </footer>
    </body>
</html>
