@import url(base.css);

/* diff */
main {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    min-height: 550px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
/* diff */

